<% @title = "Notebooks verwalten" %>

<h2>Liste der Notebooks</h2>

<table>
  <tr>
    <th>Notebookname</th>
    <th>Hersteller</th>
    <th>Modell</th>
    <th>Service-Tag</th>
    <th>Pool</th>
    <th>Standort</th>
    <th></th>
    <th></th>
    <th></th>	
  </tr>
  <% @notebooks.each do |nb| %>
    <tr>
      <td><%= nb.nb_name %></td>
      <td><%= nb.manufactor %></td>
      <td><%= nb.nb_type %></td>
      <td><%= nb.serial %></td>
      <td><%= nb.pool.try(:pool_name) %></td>
      <td><%= nb.location.try(:loc_acronym) %></td>
      <td>( <%= link_to "details", notebook_path(nb) %>
        <% if admin_signed_in? %> |</td>
          <td><%= link_to "ändern", edit_notebook_path(nb) %> |</td>
          <td><%= link_to "löschen", nb, :confirm => "Wollen Sie dieses Notebook wirklich löschen?", method: :delete %>
        <% end %>)</td>
    </tr>
  <% end %>  
</table>

<br />
<% if admin_signed_in? %>
  <%= link_to "Notebook hinzufügen", new_notebook_path %>
<% end %>
