<% @title = "Notebook Details" %>

<h2><%= t("text.Notebook_Details") %></h2>

<div class="span5">
  <table class="table table-bordered">
    <tr>
      <th><h3><%= @notebook.nb_name %></h3></th>
    </tr>

    <tr>
      <th>Service-Tag:</th>
      <td><b><%= @notebook.serial %></b></td>
    </tr>
    
    <tr>
      <th>Pool:</th>
      <% pool_name = @notebook.pool.try(:pool_name) %>
      <td><%= pool_name %></td>
    </tr>
    
    <tr>
      <th>Standort:</th>
      <% loc_name = @notebook.location.try(:loc_acronym) %>
      <td><%= loc_name %></td>
    </tr>

    <tr>
      <th>Hersteller:</th>
      <td><%= @notebook.manufactor %></td>
    </tr>
  
    <tr>
      <th>Modell:</th>
      <td><%= @notebook.nb_type %></td>
    </tr>
  
    <tr>
      <th>Prozessor:</th>
      <td><%= @notebook.cpu %></td>
    </tr>
  
    <tr>
      <th>Arbeitsspeicher:</th>
      <td><%= @notebook.ram %><% if @notebook.ram? %> GB<% end %></td>
    </tr>
  </table>
</div> 

<div class="span5">
  <table class="table table-bordered">
    <tr>
      <th>Kommentar: <%= link_to "<i class=\"icon-edit\"></i>".html_safe, edit_notebook_path(@notebook), :class => "btn btn-small btn-warning" %></th>
    </tr>
    <tr>
      <td><%= @notebook.comment %></td>
    </tr>
  </table>
</div>

<div class="span5">
  <% if admin_signed_in? %>
    <%= link_to "<i class=\"icon-hand-left icon-white\"></i> Zurück".html_safe, notebooks_path, :class => "btn btn-primary" %></td>	
  <% else %>
    <%= link_to "<i class=\"icon-hand-left icon-white\"></i> Zurück".html_safe, lendings_path, :class => "btn btn-primary" %></td>
  <% end %>
  
</div>
