<% @title = "Login" %>

<h2>Log in</h2>

<%= form_tag sessions_path do %>
<form class="form-horizontal">
  <div class="control-group">
    <%= label_tag :username, "Benutzername", :class => "control-label" %><br />
    <%= text_field_tag :username, params[:username], :class => "controls" %>
  </div>
  <div class="field">
    <%= label_tag :password, "Passwort" %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log in", :class => "btn btn-success" %></div>
</form>
<% end %>
