<% @title = "Neuer Benutzer" %>

<h3>Neuen Benutzer anlegen</h3>

<%= simple_form_for(@user, :html => {:class => "form-horizontal"}) do |f| %>
  <%= f.input :username, label: "Benutzername" %>
  <%= f.input :password, label: "Passwort" %>
  <%= f.input :password_confirmation, label: "Passwort wiederholen" %>
  <%= f.submit "Speichern", class: "btn btn-success" %>
<% end %>
