<% @title = "Notebooks ausleihen" %>

<h2>Notebooks</h2>

<% location = Location.find_by_loc_acronym("AP1") %>

<% location.notebooks.each do |nb| %>
  <% if nb.is_lent == false %>
  <div class="available span6">
  <% else %>
  <div class="islent span6">
  <% end %>
    <table class = "table table-bordered table-hover">
      <tr>
        <th>Notebookname</th>
        <th>Hersteller</th>
        <th>Modell</th>
        <th>Service-Tag</th>
        <th>Standort</th>
        <th></th>
      </tr>
      <tr>
        <td><%= nb.nb_name %></td>
        <td><%= nb.manufactor %></td>
        <td><%= nb.nb_type %></td>
        <td><%= nb.serial %></td>
        <td><%= nb.location.try(:loc_acronym) %></td>
        <td><%= link_to "leih den shizzle", new_lending_path(nb), :class => "btn btn-small btn-primary" %></td>
      </tr>
    </table>
  </div>
<% end %>
<div class="span6">
<%= debug params %>	
</div>

