<% @title = "Notebooks ausleihen" %>

<% location = Location.find_by_loc_acronym("AP1") %>

<div class="span5">
<h2>Notebooks</h2>
<% location.notebooks.order('nb_name').each do |nb| %>
  <% if nb.is_lent? %>  
    <table class="islent table table-bordered">    
  <% else %>
    <table class="available table table-bordered">
  <% end %>
      <tr>
        <th><%= nb.nb_name %></th>
        <td><%= nb.manufactor %></td>
        <td><%= nb.nb_type %></td>
        <% if nb.is_lent == false %>
          <td><%= link_to "<i class=\"icon-hand-right icon-white\"></i> Ausleihen".html_safe, new_lending_path(:notebook_id => nb), class: "btn btn-primary btn-mini" %></td>
        <% else %>
          <td>verliehen!</td>
        <% end %>
      <td><%= link_to "<i class=\"icon-eye-open\"></i>".html_safe, notebook_path(nb) %></td>
    </table>
  </tr>
<% end %>	
</div>

<div class="span5">
<h2>Ausleihen</h2>
<% @lendings.each do |l| %>
  <div class="span5">
    <table class="intime table table-bordered">
    	<tr>
    	  <th><%= l.notebook.try(:nb_name) %></th>
    	  <th><%= l.lender_name %> <%= l.lender_surname %></th> 
    	  <th><%= l.lending_start.try(:hour) %> - <%= l.lending_end.try(:hour) %> Uhr</th>
    	  
    	  <td><%= link_to "<i class=\"icon-hand-left icon-white\"></i> Zurückgeben".html_safe, l, :class => "btn btn-small btn-warning btn-mini", :confirm => "Wollen Sie dieses Notebook wirklich zurückgeben?", method: :delete %>
    	  <td><%= link_to "<i class=\"icon-eye-open\"></i>".html_safe, lending_path(l) %></td>
    	</tr>
    </table>
  </div>
<% end %>	
</div>
