<% nb = @notebook %>

<h2><%= nb.nb_name %> ausleihen</h2>

<div class="row">
  <div class="span12">
    <%= simple_form_for(@lending, :html => {:class => "form-vertical" }) do |f| %>
    <%= f.input :lending_start, label: "von", :as => :datetime, :start_year => Date.today.year, :input_html => { :class => "field span1" } %> 
    <%= f.input :lending_end, label: "bis", :as => :datetime, :start_year => Date.today.year, :input_html => { :class => "field span1" } %> 	
  </div>
  <div class="span10">
    <h3>Nutzerdaten:</h3>
  </div>
  <div class="span4">
    <%= f.input :lender_name, label: "Vorname", :input_html => { :class => "field span3" } %> 
    <%= f.input :lender_surname, label: "Nachname", :input_html => { :class => "field span3" } %> 
    <%= f.input :lender_phone, label: "Durchwahl", :input_html => { :class => "field span3" } %> 
    <%= f.input :department, label: "Lehrstuhl", :input_html => { :class => "field span3" } %>
    <%= f.input :room_nr, label: "Veranstaltungsraum", :input_html => { :class => "field span3" } %>
  </div>
  <div class="span6">
    <%= f.input :accessories, label: "Zubehör", as: :text, :input_html => { :rows => 5, :class => "field span4" } %>
    <%= f.input :comment, label: "Kommentar", as: :text, :input_html => { :rows => 7, :class => "field span4" } %>
    <%= f.input :notebook_id, :as => :hidden, :input_html => { :value => @notebook.id } %>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => @user.id } %>	
  </div>
  <div class="span4">
    <%= f.submit "Ausleihen", class: "btn btn-success " %> (Ausgabe durch: <b><%= @user.username %></b>)  	
  </div>	
</div>    
  <% end %>
