<% @title = "Standort bearbeiten" %>

<h2>Standort hinzufügen</h2>

<%= form_for @location do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :loc_acronym, "Standortkürzel (z.B. VMP9):" %><br />
    <%= f.text_field :loc_acronym %>
  </div>

  <div class="actions">
    <%= f.submit "Standort ändern" %>
  </div>
<% end %>
